h1 { 
	font-family: HelveticaNeue-UltraLight, Arial Narrow;
	font-size: 18pt;	
	font-weight: normal;
}

#pageMenu { 
	width: 1000px;
	position: fixed; 
	top: 80px;
}

#pageMenu ul {
	list-style-type: none; 
	padding-left: 20px;
	margin-left: 400px;
}

#pageMenu ul li { 
	float: left;
	padding-left: 30px;
	font-size: 12pt;
}

.contentSection { 
	position: fixed;
	top: 150px;	
}

a.videoLink { 
	text-decoration: none;
	text-align: center;	
	font-size: 11pt;
	font-weight: bold;
}

a.videoLink img { 
	margin-bottom: 5px;	
}