@charset "utf-8";
/* CSS Document */

.sectionContent { 
	text-align: justify;
}

.sectionElement { 
	margin-top: 10px;
}

#flash_container {
	margin: 15px 0 -12px 0;
	padding-bottom: 0;
}

td { vertical-align: top; padding-left: 10px; }

#appBadge { 
	position: relative; 
	top: 20px;
	left: -10px;
}